<html>
	<head>
		<title>Enter password to finish Signup</title>
		<style>
			.error {color: red;}
		</style>
	</head>
	
	<body>
		{% if code_not_found %}
			This URL does not exist.
		{% else %} 
			{% if verified %}
				This URL has already been verified.
			{% else %}
				<form action="/finish-signup/" method="post">
					Verification done!<br>
					Name: <br>
					<input type="text" name="name" readonly="readonly" value="{{ name }}"><br>
					E-mail: <br> 
					<input type = "text" name="email" readonly="readonly" value="{{ email }}"><br>
					Password:<br>
					<input type="password" name="password"><br>
					Confirm Password:<br>
					<input type="password" name="confirm_password"><br>
					<input type="submit" value="Sign-Up"><br>
				</form>
			{% endif %}
			{% if messages %}
				{% for message in messages %}
					<span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
				{% endfor %}
			{% endif %}
		{% endif %}
	</body>
</html>
