<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Easy Attendance</title>
    {% load static %}
    <link rel='stylesheet prefetch' href="{% static "css/auth/reset.css" %}">
    <link rel='stylesheet prefetch' href="{% static "css/auth/api.css" %}">
    <link rel='stylesheet prefetch' href="{% static "css/auth/monster.css" %}">
    <link rel='stylesheet prefetch' href="{% static "css/auth/min.css" %}">
    <link rel="stylesheet" href="{% static "css/auth/style.css" %}">
    <script src="{% static "js/min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    </head>

    <body>
      <div class="container">
        <div class="info">
          <h1>Easy Attendance</h1>
        </div>
      </div>
      <<div class="form">
        <div class="thumbnail">
          <img src="{% static "css/auth/hat.svg" %}" alt="Hat"/>
        </div>
       </form>
        {% if code_not_found %}
          This URL does not exist.
        {% else %} 
          {% if verified %}
            This URL has already been verified.
          {% else %}
            <form action="/finish-signup/" method="post">
              <p class="info">Verification done!</p>
              Name: <br>
              <input type="text" name="name" readonly="readonly" value="{{ name }}"><br>
              E-mail: <br> 
              <input type = "text" name="email" readonly="readonly" value="{{ email }}"><br>
              Password:<br>
              <input type="password" name="password"><br>
              Confirm Password:<br>
              <input type="password" name="confirm_password"><br>
              <button class="btn">Complete Signup</button>
            </form>
          {% endif %}
          {% if messages %}
          {% for message in messages %}
            <span  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
            {% endfor %}
          {% endif %}
      {% endif %}
        </div>
      </body>
</html>
