html,body {
    background-color:#EEEDED;
}
.box2{
	background-color:#EEEDED;
}
.box3{
	background-color:#EEEDED;	
	height: 83%;
}
.box1{
	height: 100px;
	background-color: lightblue;
	border-top-left-radius: 7px;
  	border-top-right-radius: 7px;
  	border-bottom-left-radius: 7px;
  	border-bottom-right-radius: 7px;
}
.box1 form{
	background-color:#EEEDED;
}
.box1 .head{
	margin: 5px 10px 15px 500px;
}
.box1 .head1{
	margin: 5px 10px 10px 550px;
}
.box1 .head2{
	margin: 5px 10px 10px 450px;
}
.box1 .head3{
	margin: 5px 10px 10px 550px;
}
.box1 .head4{
	margin: 5px 10px 10px 650px;
}
.box1 .head5{
	margin: 5px 10px 10px 350px;
}
.box1 .head6{
	margin: 5px 10px 15px 400px;
}

#button1{
	margin: 5px 10px 15px 650px;
}

#button11{
	margin: 105px 10px 15px 650px;
}

#button10{
	margin: 5px 10px 15px 750px;
}

#button101{
	margin: 115px 10px 15px 650px;
}

#button2{
	margin:-35px 10px 15px 750px;
}

#button12{
	margin:-30px 10px 15px 750px;
}

#button3{
	margin: 125px 10px 15px 550px;
}

#button5{
	margin: -0.5px 10px 0 750px;
}

#button6{
	margin: -5px 10px -5px 750px;
}

#message{
	margin: 25px 10px 15px 540px;
}

#home1{
	margin: 25px 10px 15px 40px;	
}
#home2{
	margin: 225px 10px 15px 50px;	
}
#home3{
	margin: 225px 10px 15px 50px;	
}
#home4{
	margin: 75px 10px 15px 50px;	
}

#home5{
	margin: 5px 10px 15px 50px;	
}
#Date{
	font-weight: bold;
	margin-left: 15px;  
}
.box3 form .area{
	margin-right: 50px; 
}
.error {color: red;}
.info {color: green;}
.progress 
{
	color:blue;
}
