<html>
<head>
    <title>Add Student</title>
</head>
<body>

    <h1>Add Student</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et sollicitudin sapien. Maecenas ac faucibus dolor. Suspendisse nulla ipsum, ultrices sed neque sollicitudin, venenatis consequat mi. Proin ac aliquet eros. Vivamus sed justo purus. Vivamus non dolor vitae nisi pharetra mollis. Integer gravida pellentesque nulla in mollis. Integer porta accumsan diam faucibus fringilla. Etiam est lacus, facilisis vitae dui a, fringilla aliquet magna. Sed non feugiat est, vel congue ex. Nam sed est nec nunc tempor tempus a eu ex. Curabitur placerat enim luctus dolor elementum, a lacinia dolor mollis. Praesent eu neque sit amet lorem posuere ornare et sed urna. Nullam a sapien a dolor mattis lobortis. Ut efficitur malesuada suscipit. Aliquam quis velit non risus fringilla consectetur sit amet id lacus.</p>

    <p>Sed congue est at fermentum lacinia. Maecenas porttitor eleifend nulla quis semper. Integer condimentum bibendum turpis. Nulla facilisi. Praesent sodales quam at lobortis rhoncus. Pellentesque maximus metus in enim sagittis mollis. Ut scelerisque libero vel convallis tincidunt. Cras vitae accumsan ex. Donec sit amet aliquam metus, ut venenatis sem. Mauris non arcu quis dui malesuada placerat eget vitae nisl. Phasellus vitae vehicula mi. Phasellus mollis auctor tempus. Mauris id bibendum lectus. Quisque pretium at odio consequat elementum. Sed eleifend odio nec erat interdum porta.</p>


</body>
</html>
