<html>
<head>
    <title>Daily Report</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static "css/prof_style.css"%}">
<link rel="stylesheet" href="{% static "css/options_colors.css"%}">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
<script src="{% static "js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
<body>
<div class = "box1">
    <h1 class = "head2">{{course_id}} Daily Report Page</h1>
    <p class = "head4">Hello, {{user.first_name}}</p>

    <p class = "head5">This is the daily report for course {{course_id}} on {{date}}</p>
    <nav id="button11" class="nav navbar-nav navbar-right">
                    <a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
            </nav>
</div>
<div class="box2">
	<br>
	{% if attendance %}
		<h3>Uploaded Images</h3>
		{% for i in files %}
		{% with user.username|add:'/'|add:course_id|add:'/'|add:date_url|add:'/'|add:i as image_static %}
		<img src="{% static image_static %}" alt="{{i}}" style="height: 30%;"/>
		{% endwith %}
		{% endfor %}
		<br>
		<h3>Marked Attendance</h3>
		<table class="table table-hover" style="width:50em;text-align:center;margin-left:14em">
                <thead>
                    <tr style="font-weight:bold">
                        <td>Student</td>
                        <td>Present or Not</td>
                    </tr>
                </thead>
		{% for i in attendance %}
		<tr>
			<td>{{i.student.first_name}}</td>
			{% if i.is_present == '1' %}
				<td class="present">Present</td>
			{% else %}
				<td class="absent">Absent</td>
			{% endif %}
		</tr>
		{% endfor %}
		</table>
    {% else %}
    	No attendance to display for {{date}}.
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <a href="/prof_course/{{course_id}}"><button type="button" class="btn btn-info" id="button2">Back to course home</button></a>
    <br>
    <br>
</div>
</body>
</html>
