<html>
<head>
    <title>{{course_id}} Course Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
</head>
<body>

    <h1>{{course_id}} Course Page</h1>
    <p>Hello, {{user.first_name}}</p>
    <a href="/upload_class_photos/{{course_id}}/"><button>Take Attendance</button></a>
    <br>
    <br>
    <a href="/daily_report/{{course_id}}/{% now "Y\/m\/d" %}"><button>View Today's Report</button></a>
    <br>
    <br>
    <!-- <a href="/prof_history/{{course_id}}/"><button>View History</button></a><br> -->
    <form action="/prof_history/{{course_id}}/" method="post">
      View history on date: <input type="text" name="date" id="datepicker">
      <input type="submit" value="Submit">
    </form>
    <!-- <a href="/add_stud/{{course_id}}/"><button>Add student</button></a> -->
    <a href="/prof_queries/{{course_id}}/"><button>View Queries</button></a>
    <br>
    <br>
    <br>
    <br>
    <a href="/prof_home/"><button>Back to home</button></a>
    <br>
    <br>
    <a href="/logout/"><button>Logout</button></a>
</body>
</html>
