<!DOCTYPE html> 
<html>
<head>
    <title>Professor Homepage</title>
</head>
 {% load static %}
    <link rel="stylesheet" href="{% static "css/options_colors.css"%}">
    <link rel="stylesheet" href="{% static "css/prof_style.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
<body>
	<div class="box1">
            <h1 class="head">Easy Attendance</h1>
            <p class="head1">{{user.first_name}}'s home page</p>
            <nav id="button10" class="nav navbar-nav navbar-right">
                    <a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
            </nav>
        </div>
    <div class="box2">
              <table class="table table-hover" style="text-align:center">
                <thead>
                    <tr style="font-weight:bold">
                        <td>Course ID</td>
                        <td>Course name</td>
                        <td>Course Page</td>
                    </tr>
                </thead>
                <tbody>
                    {% for c in courses%}
                        <tr>
                            <td>{{c.course_id}}</td>
                            <td>{{c.course_name}}</td>
                            <td>
                                <a href="/prof_course/{{c.course_id}}">
                                    <button type="button" class="btn btn-info">Go to course</button>
                                </a>
                            </td>
                        </tr><br>
                    {% endfor %}<br>    
                </tbody>
              </table>

  
           
            <br>
            <br>
        </div>

</body>
</html>
