<!DOCTYPE html>
<html>
<head>
        <title>View queries page</title>
        <style>
            .error {color: red;}
            .change {color: blue;}
            .reject {color: red;}
            .accept {color: green;}
        </style>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css.map"%}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
    {% load static %}
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% load static %}
    <script src="{% static "js/bootstrap.js" %}"></script>
<body>
    <div class="box1">
            <h1 class="head">Professor View Query</h1>
            <p class="head1">{{user.first_name}} view query page</p>
        </div>
        <div>
    {% if queries %}
        <table class = "table table-hover">
            <tr> 
                <!--<th>S. No</th>-->
                <th>Date</th>
                <th>Student</th>
                <th>Course</th> 
                <th>Description</th>
                <th>Attendance Status</th>
                {% for item in queries %}
                <tr>
                    <td>{{item.date}}</td>
                    <td>{{item.student}}</td>
                    <td>{{item.course_id}}</td>
                    <td>{{item.query}}</td>
                    {% if item.status == '1' %}
                        <td><span class="accepted">Accepted</span></td>
                    {% else %}
                        {% if item.status == '0' %}
                            <td><span class="progress">In Progress</span></td>
                        {% else %}
                            <td><span class="rejected">Rejected</span></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tr>
        </table>
    {% else %}
        <span class="error"> No queries to display</span>
    {% endif %}
    </div>

<!-- Needs to be incorporated   <h1>Queries</h1>
    {% for q in queries %}
    <span>{{q.date}} ; {{q.student.first_name}} ; {{q.query}} ; {{q.status}}</span>
    <form action="/prof_queries/{{course_id}}/" method="post" style="display:inline;">
      <input type="hidden" name="query" value="{{q.id}} 1" />
      <input type="submit" {% if q.status == '1' %}disabled{% endif %} value="Accept"/>
    </form>
    <form action="/prof_queries/{{course_id}}/" method="post" style="display:inline;">
      <input type="hidden" name="query" value="{{q.id}} 2" />
      <input type="submit" {% if q.status == '2' %}disabled{% endif %} value="Decline"/>
    </form>
    <br>
    {% endfor %}
    <br>
    <a href="/prof_course/{{course_id}}"><button>Back to course page</button></a>
    <br>
    <br>
    <a href="/logout/"><button>Logout</button></a>
-->
</body>
</html>
