<html>
<head>
    <title>Take Attendance</title>
 </head>
{% load static %}
{% load static %}
    <link rel="stylesheet" href="{% static "css/options_colors.css"%}">
    <link rel="stylesheet" href="{% static "css/prof_style.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
<body>
<div class = "box1">
    <h1 class = "head2">{{course_id}} Take Attendance Page</h1>
    <p class = "head7">Hello, {{user.first_name}}</p>
    <nav id="button10" class="nav navbar-nav navbar-right">
                    <a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
            </nav>
</div> 
<div class = "box2"> 
	<br><br><br><br>

    <form action="/take_attendance/{{course_id}}/" method="post" enctype="multipart/form-data">
      <span id = "Date2">Select date: </span><input type="text" name="date" id="datepicker"><br><br>
      <span id = "Date3">Select the images you want to upload:</span>
      <br><br><input style="margin-left:45em" type="file" name="myfiles" multiple="multiple" accept="image/*"><br><br>
			<input type="submit" type="button" class="btn btn-success" id="button16" value="Submit">
		</form><br><br>
    {% if messages %}
			{% for message in messages %}
				<span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
			{% endfor %}
		{% endif %}
	<br>
    <br>
    <br>

    <br>
    <a href="/prof_course/{{course_id}}"><button type="button" class="btn btn-info" id="button14">Back to course home</button></a>
    <br>
    <br>
    </div>
</body>
</html>
