<html>
<head>
  <title>View images</title>
  {% load static %}
    <link rel="stylesheet" href="{% static "css/options_colors.css"%}">
    <link rel="stylesheet" href="{% static "css/prof_style.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
	<div style="text-align:center">
  {% load static %}
  {% for i in list %}
  <img src="{% static i %}" style="height: 30%;"/>
  {% endfor %}
  <br><br><a href="/prof_queries/{{course}}"><button type="button" class="btn btn-info" id="button16">Back to view queries</button></a>
  </div>
</body>
</html>
