<html>
	<head>
		<title>Raise query for {{course}}</title>
	</head>
	{% load static %}
	<link rel="stylesheet" href="{% static "css/stud.css"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
	<body>
		<div class="box1">
            <h1 >Course queries</h1>
            <p >{{course}}</p>
            <nav id="button10" class="nav navbar-nav navbar-right">
				<a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
			</nav>
    	</div>
    	<div class="box2">
    		<br>
			<p>Hello, {{user.first_name}}<br> Raise your query for {{course}}  on {{date}} here.</p>
			<form action="/query/{{course}}/" method="post" id="queryform">
				<span style="font-weight: bold;">Date:<input type="text" name="date" id="datepicker" value="{{date}}" readonly="readonly"><br><br>
				<p style="font-weight: bold;">Query:</p>
				<textarea class="area" name="query" form="queryform" maxlength="500" cols="50" rows="10"></textarea><br><br>
				<input id="home5" class="btn btn-success" type="submit" value="Submit"><br>
			</form>
			<form action="/stud_history/{{course}}/" method="post">
				<span style="visibility:hidden"><span style="font-weight: bold;">Date:<input type="text" name="date" id="datepicker" value="{{date}}" readonly="readonly"></span></span><br>
				<input id="home4" class="btn btn-info" type="submit" value="Back to view history"><br>
			</form>
		</div>
	</body>
</html>
