<html>
	<head>
		<title>Raise query for {{course}}</title>
	</head>
	{% load static %}
	<link rel="stylesheet" href="{% static "css/stud_style.css"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css.map"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/bootstrap.js" %}"></script>	
	<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
	<body>
		<div class="box1">
            <h1 class="head3">Course queries</h1>
            <p class="head4">{{course}}</p>
            <nav id="button12" class="nav navbar-nav navbar-right">
				<a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
			</nav>
    	</div>
    	<div class="box3">
			<p>Hello, {{user.first_name}}<br> Raise your query for {{course}}  on {{date}} here.</p>
			<!--<h1>Raise query</h1>-->
			<form action="/query/{{course}}/" method="post" id="queryform">
				<span id="Date">Date:<input type="text" name="date" id="datepicker" value="{{date}}" readonly="readonly"><br>
				Query:<br>
				<textarea class="area" name="query" form="queryform" maxlength="500" cols="50" rows="10"></textarea><br>
				<input id="home5" class="btn btn-success" type="submit" value="Submit"><br>
			</form>
			<br>
			<a href="/stud_course/{{course}}"><button id="home4" type="button" class="btn btn-info">Back to course page</button></a>
		</div>
	</body>
</html>
