<html>
	<head>
   		<title>Daily report of student</title>
   		{% load static %}
    	<link rel="stylesheet" href="{% static "css/stud_style.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.css.map"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/bootstrap.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>  	
	</head>
	<body>
	    <div class="box1">
			<h1 class="head5">Daily Report of {{user.first_name}} on {{date}}</h1>
			<nav id="button5" class="nav navbar-nav navbar-right">
				<a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
			</nav>
		</div>
		<div class="box3">
			{% if attendances %}
			<table class="table table-hover">
				<tr> 
					<!--<th>S. No</th>-->
					<th>Course</th> 
					<th>Attendance status</th>
					{% for item in attendances %}
					<tr>
						<td>{{item.course_id}}</td>
						{% if item.is_present == '1' %}
							<td><span class="info">Present</span></td>
						{% else %}
							<td><span class="error">Absent</span></td>
						{% endif %}
					</tr>
				{% endfor %}
				</tr>
			</table>
			{% else %}
				<span class="error"> No attendances to display</span>
			{% endif %}
			<a href="/stud_home/"><button id="home1" type="button" class="btn btn-info">Back to home page</button></a>
		</div>
	</body>
</html>
