<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" href="{% static "css/stud.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<title> Student Home </title>
    </head>
    
    <body>
    	<div class="box1">
			<h1>Easy Attendance</h1>
			<p>Student home page</p>
			<nav id="button10" class="nav navbar-nav navbar-right">
                    <a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
            </nav>
		</div>

		<div class="box2">
		    <br>
			<form action="/stud_daily_report/" method="post">
				  <span style="font-weight:bold">Date:</span><input type="text" name="date" id="datepicker">
				  <input class="btn btn-success" type="submit" value="View daywise report">
			</form>

		  	<table class="table table-hover">
				<thead>
	  			 	<tr style="font-weight:bold">
	    				<th  style="text-align:center" >Course ID</th>
	    				<th  style="text-align:center" >Course name</th>
	    				<th  style="text-align:center" >Percentage</th>
	    				<th  style="text-align:center" >Course Page</th>
	  			  	</tr>
				</thead>
				<tbody>
	  				{% for c,d in course_percent%}
	  					<tr>
	    					<td>{{c.course_id}}</td>
	    					<td>{{c.course_name}}</td>
	    					<td>{{d}}</td>
	    					<td>
	      						<a href="/stud_course/{{c.course_id}}">
	        						<button type="button" class="btn btn-info">Go to course</button>
	     					 	</a>
	    					</td>
	  					</tr><br>
	  				{% endfor %}<br>    
				</tbody>
			 </table>
		</div>
	</body>
</html>
