<!DOCTYPE html>
<html>
	<head>
   		<title>View queries page</title>
    	<style>
			.error {color: red;}
			.info {color: green;}
			.present {color: red;}
			.absent {color: green;}
		</style>
	</head>
	<body>

	<h1>Daily Report of {{user.first_name}}</h1>

	{% if attendances %}
		<table>
			<tr> 
				<!--<th>S. No</th>-->
				<th>Date</th>
				<th>Course</th> 
				<th>PresentOrNot</th>
				{% for item in attendances %}
				<tr>
					<td>{{item.date}}</td>
					<td>{{item.Course}}</td>
					{% if item.IS_PRESENT == '1' %}
						<td><span class="present">Present</span></td>
					{% else %}
						<td><span class="absent">Absent</span></td>
					{% endif %}
				</tr>
			{% endfor %}
			</tr>
		</table>
	{% else %}
		<span class="error"> No attendances to display</span>
	{% endif %}
	<br>
	<a href="/stud_home/"><button>Back to home page</button></a>

	</body>
</html>
