<!DOCTYPE html>
<html>
<head>
    <title>Student home</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
</head>



<body>

<h1>Student Home</h1>

<p>This is the Student home page</p>
<!--<a href="/stud_course">
      <button>Course1</button>
</a>
<a href="/stud_course">
      <button>Course2</button>
</a>-->
{% for c,d in course_percent%}
<span>Course ID - {{c.course_id}} ; Course name - {{c.course_name}}; Percentage = {{d}}</span><a href="/stud_course/{{c.course_id}}"><button>Go to course</button></a><br>
{% endfor %}
<br>
<!--<a href="/stud_daily_report">
      <button>View Daily Report</button>
</a>-->

<form action="/stud_home/" method="post">
      <p>Date: <input type="text" name="date" id="datepicker"></p>
      <input type="submit" value="Submit"><br>
    </form>

<br>
    <br>
    <a href="/logout/"><button>Logout</button></a>
</body>
</html>
