<html>
	<head>
   		<title>Student Course Page</title>
    	<style>
			.error {color: red;}
			.info {color: green;}
		</style>
	</head>
<body>

    <h1>{{course_id}} Student Course Page</h1>
    <p>Hello, {{user.first_name}}</p>
    <a href="/stud_history/{{course_id}}/"><button>View History</button></a>
    <br>
    <a href="/raise_query/{{course_id}}/"><button>Raise Query</button></a>
    <br>
    <a href="/view_queries/{{course_id}}/"><button>View Queries</button></a>
    <a href="/stud_home/"><button>Back to home</button></a><br>
    
    	{% if messages %}
			{% for message in messages %}
				<span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
			{% endfor %}
		{% endif %}
	<br>
    <br>
    <a href="/logout/"><button>Logout</button></a>
</body>
</html>
