<html>
	<head>
   		<title>Student Course Page</title>
        {% load static %}
		<link rel="stylesheet" href="{% static "css/stud.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/options_colors.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/datepicker.js" %}"></script>
	</head>
	<body>
	    <div class="box1">
	            <h1 >{{course_id}} Student Course Page</h1>
	            <p >Hello, {{user.first_name}}</p>
	            <nav id="button10" class="nav navbar-nav navbar-right">
                    <a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
            </nav>
	    </div>
	    <div class="box2">
	    	<br><br>
		    <form action="/stud_history/{{course_id}}/" method="post">
		    	<span style="font-weight: bold">Date:</span><input type="text" name="date" id="datepicker">
				<input class="btn btn-success" type="submit" value="View attendance history">
			</form>
			<br><br><br><br><br><br>
		    <a href="/view_queries/{{course_id}}/" ><button type="button" class="btn btn-primary">View Queries</button></a><br><br><br><br><br><br>
		    <a href="/stud_home/"><button type="button" class="btn btn-info" >Back to home</button></a><br>
		    <br>
		    {% if messages %}
				{% for message in messages %}
					<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
				{% endfor %}
			{% endif %}

	    </div>

	</body>
</html>
