<!DOCTYPE html>
<html>
	<head>
   		<title>View queries page</title>
	   	{% load static %}
		<link rel="stylesheet" href="{% static "css/stud.css"%}">
		<link rel="stylesheet" href="{% static "css/options_colors.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css.map"%}">
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
	</head>
	<body>
	<div class="box1">
			<h1 >Queries raised by {{user.first_name}} for {{course}}</h1>
			<p>Easy Attendance</p>
			<nav id="button10" class="nav navbar-nav navbar-right">
				<a href="/logout/"><button class="btn btn-warning navbar-btn">Logout</button></a>
			</nav>
	</div>
    <div class="box2" >
		{% if queries %}
			<table class="table table-hover">
				<col width="30">
  				<col width="300">
  				<col width="30">
				<tr> 
					<th style="text-align: center;">Date</th>
					<th style="text-align: center;">Description</th> 
					<th style="text-align: center;">Status</th>
					{% for item in queries %}
					<tr>
						<td>{{item.date}}</td>
						<td>{{item.query}}</td>
						{% if item.status == '1' %}
							<td><p class="info">Query processed</p></td>
						{% else %}
							{% if item.status == '0' %}
								<td><span style="color: blue">In Progress</span></td>
							{% else %}
								<td><span class="error">Rejected</span></td>
							{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
				</tr>
			</table>
		{% else %}
			<span class="error"> No queries to display</span><br><br><br>
		{% endif %}
		<br>
		<a href="/stud_course/{{course}}"><button id="home1" type="button" class="btn btn-info" id="button1">Back to course page</button></a><br><br>
		</div>
	</body>
</html>
