<!DOCTYPE html>
<html>
	<head>
   		<title>View queries page</title>
    	<style>
			.error {color: red;}
			.info {color: green;}
			.progress {color: blue;}
			.rejected {color: red;}
			.accepted {color: green;}
		</style>
	</head>
	<body>

	<h1>Queries raised by {{user.first_name}} for {{course}}</h1>

	{% if queries %}
		<table>
			<tr> 
				<!--<th>S. No</th>-->
				<th>Date</th>
				<th>Description</th> 
				<th>Status</th>
				{% for item in queries %}
				<tr>
					<td>{{item.date}}</td>
					<td>{{item.query}}</td>
					{% if item.status == '1' %}
						<td><span class="accepted">Accepted</span></td>
					{% else %}
						{% if item.status == '0' %}
							<td><span class="progress">In Progress</span></td>
						{% else %}
							<td><span class="rejected">Rejected</span></td>
						{% endif %}
					{% endif %}
				</tr>
			{% endfor %}
			</tr>
		</table>
	{% else %}
		<span class="error"> No queries to display</span>
	{% endif %}
	<br>
	<a href="/stud_course/{{course}}"><button>Back to course page</button></a>

	</body>
</html>
